.appWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: var(--transition);
  position: relative;
}

.mainContent {
  flex-grow: 1;
}
